<!-- チェックボックス -->
<mat-checkbox>デフォルト</mat-checkbox>
<mat-checkbox disabled>デフォルト</mat-checkbox>
<section id="checkbox-wrap">
  <mat-checkbox>オリジナル色</mat-checkbox>
  <mat-checkbox disabled>オリジナル色</mat-checkbox>
</section>
<br />
<!-- ラジオボタン -->
<p>デフォルトのラジオボタン</p>
<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1" checked>AAA</mat-radio-button>
  <mat-radio-button value="2">BBB</mat-radio-button>
  <mat-radio-button value="3">CCC</mat-radio-button>
</mat-radio-group>
<p>オリジナルのラジオボタン</p>
<section id="radio-wrap">
  <mat-radio-group>
    <mat-radio-button value="1" checked>AAA</mat-radio-button>
    <mat-radio-button value="2">BBB</mat-radio-button>
    <mat-radio-button value="3">CCC</mat-radio-button>
  </mat-radio-group>
</section>
